<a href="https://colab.research.google.com/github/iGeology-Illinois/geol-581-module-3-principles-of-uncertainty-chapter-4-seanb7/blob/main/Python%20Lab%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [71]:
import pandas as pd
from sqlalchemy import create_engine

# 1) Create an engine and connect to 'cpt_data.db' (it will be created if not existing)
engine = create_engine('sqlite:///cpt_data.db')

# 2) Read Excel file into a DataFrame
df = pd.read_excel('24-61-27761_CP24-COOK-01-BSC.XLS', sheet_name='Sheet1')

# Example: rename columns or filter out header rows, if needed
# Suppose we skip the first 39 rows with metadata, and then read the main data
df_main = pd.read_excel('24-61-27761_CP24-COOK-01-BSC.XLS', sheet_name='Sheet1', skiprows=39)
df_main.columns = ['Depth_m', 'Depth_ft', 'qc_tsf', 'qt_tsf', 'fs_tsf', 'u_ft', 'Rf_pct']

# 3) Write to SQL table
df_main.to_sql('cpt_cook_01', con=engine, if_exists='replace', index=False)

# 4) Run a SELECT query to see results
query = "SELECT * FROM cpt_cook_01 LIMIT 5;"
result = pd.read_sql(query, con=engine)
print(result)

ValueError: Length mismatch: Expected axis has 8 elements, new values have 7 elements

In [ ]:
# Create new SQLite Database
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('Lab 4 SIte Investigation.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a new table named 'users'
cursor.execute('''CREATE TABLE IF NOT EXISTS CPT_data (Layer INTEGER, Depth REAL, Tip_Resistance_QC REAL, Tip_Resistance_QT Sleeve_Friction REAL, Pore_Pressure REAL, Friction_Ratio REAL)''')

# Commit the changes and close the connection
conn.commit()
#The conn.commit() and conn.close() were called twice remove extra calls
#conn.commit()
conn.close()

print("Database and table created successfully.")

Database and table created successfully.

In [ ]:
#Import CPT/SCPTu Data from W.Roosevelt & S Clark site To SQLite Database
import pandas as pd
from sqlalchemy import create_engine

# Construct the full file paths
file_names = [
    '24-61-27761_CP24-COOK-01-BSC.XLS'
    '24-61-27761_CP24-COOK-02-BSC.XLS',
    '24-61-27761_CP24-COOK-03-BSC.XLS',
    '24-61-27761_CP24-COOK-04-BSC.XLS',
    '24-61-27761_CP24-COOK-06-BSC.XLS',
    '24-61-27761_CP24-COOK-07-BSC.XLS',
    '24-61-27761_CP24-COOK-02-OFF01-BSC.XLS',
    '24-61-27761_CP24-COOK-02-OFF02-BSC.XLS',
    '24-61-27761_CP24-COOK-06-OFF01-BSC.XLS'
]

# Connect to SQLite database
conn = sqlite3.connect('Lab 4 Site Investigaton.db')
cursor = conn.cursor()

# Create a table (adjust the schema as needed)
df.to_sql('W. Roosevelt & S. Clark', conn, if_exists='replace', index=False)

# Commit and close the connection
conn.commit()
conn.close()

print("Data imported successfully!")

Data imported successfully!

In [ ]:
# Extract data from SQLite database
import sqlite3
fetchall_path = 'Lab 4 Site Investigaton.db'
table_name = 'W. Roosevelt & S. Clark'
# Extract data from SQLite database
import sqlite3
import pandas as pd

db_path = 'Lab 4 Site Investigaton.db'  # Path to your SQLite database file
table_name = 'W. Roosevelt & S. Clark'

# Establish a connection to the SQLite database
conn = sqlite3.connect(db_path)

# Execute the query and read data into a DataFrame
df = pd.read_sql_query(f"SELECT * FROM [{table_name}]", conn)

# Close the connection
conn.close()

df.head()

#Plot table
import plotly.express as px
import plotly.graph_objects as go
import pandas as pd
print(df.columns)

Index(['Unnamed: 0', 'ConeTec Calculated CPT Parameters', 'Unnamed: 2',
       'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7'],
      dtype='object')

In [ ]:
# Extract data from SQLite database
import sqlite3

def export_sqlite_to_csv(db_path, table_name, csv_path):
    # Connect to the SQLite database
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    # Execute a query to fetch all data from the specified table
    # Enclose the table name in square brackets to escape special characters
    cursor.execute(f"SELECT * FROM [{table_name}]")
    rows = cursor.fetchall()

    # Get column names from the table
    column_names = [description[0] for description in cursor.description]

    # Write data to a CSV file
    with open(csv_path, 'w', newline='') as csv_file:
        writer = csv.writer(csv_file)
        writer.writerow(column_names)  # Write the header
        writer.writerows(rows)  # Write the data

    # Close the database connection
    conn.close()

# Example usage
db_path = 'Lab 4 Site Investigaton.db'
table_name = 'W. Roosevelt & S. Clark'
csv_path = 'W. Roosevelt & S. Clark Site Invetigation.csv'
export_sqlite_to_csv(db_path, table_name, csv_path)
print(f"Data from '{table_name}' table exported to '{csv_path}' successfully.")
plotly_path = 'W. Roosevelt & S. Clark Site Invetigation.csv'

Data from 'W. Roosevelt & S. Clark' table exported to 'W. Roosevelt & S. Clark Site Invetigation.csv' successfully.