<a href="https://colab.research.google.com/github/iGeology-Illinois/geol-581-module-3-principles-of-uncertainty-chapter-4-seanb7/blob/main/Python%20Lab%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
# Database Setup & Data Import
# Create SQLite data tables with CPT data collected from W. Roosevelt and S. Clark Site
import os
import pandas as pd
from sqlalchemy import create_engine

# 1) Create an engine and connect to 'cpt_data.db' (it will be created if not existing)
engine = create_engine('sqlite:///Lab 4 Site Investigation.db')

# Function to process and write data to SQL
def process_and_write_data(file_name, table_name):
    """
    Processes an Excel file and writes its data to a SQL table.

    Args:
        file_name (str): The name of the Excel file.
        table_name (str): The name of the SQL table.
    """
    df_main = pd.read_excel(file_name, sheet_name='Sheet1', skiprows=39)
    df_main.columns = ['Layer', 'Depth_m', 'Depth_ft', 'qc_tsf', 'qt_tsf', 'fs_tsf', 'u_ft', 'Rf_pct']

    # Using a separate connection for each file to avoid locking issues
    with engine.connect() as conn:
        with conn.begin():  # Starting a transaction within the connection
            df_main.to_sql(table_name, con=conn, if_exists='replace', index=False)

# Repeat Step #2-4 for Every Excel File
# CPT_COOK_01
process_and_write_data('24-61-27761_CP24-COOK-01-BSC.XLS', 'cpt_cook_01')

# SPT_COOK_02
process_and_write_data('24-61-27761_SP24-COOK-02-BSC.XLS', 'spt_cook_02')

# CPT_COOK_03
process_and_write_data('24-61-27761_CP24-COOK-03-BSC.XLS', 'cpt_cook_03')

# CPT_COOK_04
process_and_write_data('24-61-27761_CP24-COOK-04-BSC.XLS', 'cpt_cook_04')

# CPT_COOK_06
process_and_write_data('24-61-27761_CP24-COOK-06-BSC.XLS', 'cpt_cook_06')

# SPT_COOK_07
process_and_write_data('24-61-27761_SP24-COOK-07-BSC.XLS', 'spt_cook_07')

# SPT_COOK_02-OFF01
process_and_write_data('24-61-27761_SP24-COOK-02-OFF01-BSC.XLS', 'spt_cook_02_off01')

# SPT_COOK_02-OFF02
process_and_write_data('24-61-27761_SP24-COOK-02-OFF02-BSC.XLS', 'spt_cook_02_off02')

# CPT_COOK_06-OFF01
process_and_write_data('24-61-27761_CP24-COOK-06-OFF01-BSC.XLS', 'cpt_cook_06_off01')

# Verify data import (example for cpt_cook_01)
query = "SELECT * FROM cpt_cook_01 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM spt_cook_02 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM cpt_cook_03 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM cpt_cook_04 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM cpt_cook_06 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM spt_cook_07 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM spt_cook_02_off01 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM spt_cook_02_off02 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

query = "SELECT * FROM cpt_cook_06_off01 LIMIT 453"
result = pd.read_sql(query, con=engine)
print(result)

     Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf    u_ft      Rf_pct
0        1    0.025   0.08202    0.036    0.036730   0.038   0.117  103.456543
1        2    0.050   0.16404   21.657   21.678931   0.080   3.513    0.369022
2        3    0.075   0.24606   41.663   41.696486   0.097   5.364    0.232634
3        4    0.100   0.32808   64.817   64.861517   0.201   7.131    0.309891
4        5    0.125   0.41010   82.667   82.724046   0.490   9.138    0.592331
..     ...      ...       ...      ...         ...     ...     ...         ...
448    449   11.225  36.82698   85.012   85.174604   2.374  26.047    2.787216
449    450   11.250  36.90900  107.297  107.494638   0.000  31.659    0.000000
450    451   11.275  36.99102  169.366  169.486079   0.000  19.235    0.000000
451    452   11.300  37.07304  224.920  225.134487   0.000  34.358    0.000000
452    453   11.325  37.15506  320.828  321.021287   0.000  30.962    0.000000

[453 rows x 8 columns]
    Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf   u_ft    Rf_pct
0       1    0.025   0.08202    5.042    5.042812   0.061  0.130  1.209643
1       2    0.050   0.16404   11.205   11.209151   0.104  0.665  0.927813
2       3    0.075   0.24606   17.947   17.953711   0.249  1.075  1.386900
3       4    0.100   0.32808   25.105   25.114726   0.344  1.558  1.369714
4       5    0.125   0.41010   32.760   32.771555   0.329  1.851  1.003919
5       6    0.150   0.49212   41.534   41.549176   0.422  2.431  1.015664
6       7    0.175   0.57414   52.062   52.079942   0.619  2.874  1.188557
7       8    0.200   0.65616   65.558   65.578876   0.584  3.344  0.890531
8       9    0.225   0.73818   81.750   81.772624   0.624  3.624  0.763092
9      10    0.250   0.82020   80.204   80.227679   0.737  3.793  0.918636
10     11    0.275   0.90222   86.346   86.369803   0.653  3.813  0.756051
11     12    0.300   0.98424   88.992   89.015966   0.456  3.839  0.512268
12     13    0.325   1.06626  103.284  103.308453   0.521  3.917  0.504315
13     14    0.350   1.14828  124.759  124.787117   0.324  4.504  0.259642
14     15    0.375   1.23030  138.830  138.858810   0.371  4.615  0.267178
15     16    0.400   1.31232  144.440  144.470271   0.597  4.849  0.413234
16     17    0.425   1.39434  120.026  120.056558   0.698  4.895  0.581393
17     18    0.450   1.47636  110.639  110.671387   0.560  5.188  0.506003
18     19    0.475   1.55838  107.000  107.033080   0.477  5.299  0.445657
19     20    0.500   1.64040   93.346   93.379611   0.501  5.384  0.536520
20     21    0.525   1.72242   72.676   72.709405   0.548  5.351  0.753685
21     22    0.550   1.80444   64.799   64.831025   0.756  5.130  1.166108
22     23    0.575   1.88646   54.212   54.243819   0.896  5.097  1.651801
23     24    0.600   1.96848   49.990   50.020071   0.912  4.817  1.823268
24     25    0.625   2.05050   65.225   65.254990   0.939  4.804  1.438970
25     26    0.650   2.13252   65.182   65.212802   0.907  4.934  1.390831
26     27    0.675   2.21454   54.322   54.352433   0.989  4.875  1.819606
27     28    0.700   2.29656   52.211   52.239442   0.956  4.556  1.830035
28     29    0.725   2.37858   42.892   42.918856   1.396  4.302  3.252650
29     30    0.750   2.46060   45.003   45.030100   1.329  4.341  2.951359
30     31    0.775   2.54262   48.627   48.652470   1.658  4.080  3.407843
31     32    0.800   2.62464   58.278   58.305100   0.417  4.341  0.715203
32     33    0.825   2.70666   85.445   85.473317   0.335  4.536  0.391935
33     34    0.850   2.78868   93.401   93.429404   0.441  4.550  0.472014
34     35    0.875   2.87070   17.551   17.584367   1.079  5.345  6.136132
35     36    0.900   2.95272  491.177  491.220418   0.000  6.955  0.000000
36     37    0.925   3.03474  488.195  488.228530   0.000  5.371  0.000000
37     38    0.950   3.11676  545.368  545.409907   0.000  6.713  0.000000
38     39    0.975   3.19878  749.117  749.137632   0.000  3.305  0.000000
     Layer  Depth_m  Depth_ft  qc_tsf     qt_tsf  fs_tsf     u_ft    Rf_pct
0        1    0.025   0.08202   1.223   1.224386   0.092    0.222  7.513971
1        2    0.050   0.16404  10.771  10.801964   0.124    4.960  1.147939
2        3    0.075   0.24606  18.835  18.880166   0.138    7.235  0.730926
3        4    0.100   0.32808  27.135  27.202384   0.186   10.794  0.683764
4        5    0.125   0.41010  37.589  37.647270   0.283    9.334  0.751715
..     ...      ...       ...     ...        ...     ...      ...       ...
448    449   11.225  36.82698  11.576  12.515617   0.151  150.514  1.206493
449    450   11.250  36.90900  12.087  13.075553   0.175  158.353  1.338375
450    451   11.275  36.99102  12.245  12.749299   0.148   80.782  1.160848
451    452   11.300  37.07304  12.106  12.854159   0.127  119.845  0.988007
452    453   11.325  37.15506  10.556  11.123750   0.117   90.946  1.051804

[453 rows x 8 columns]
     Layer  Depth_m  Depth_ft  qc_tsf     qt_tsf  fs_tsf     u_ft    Rf_pct
0        1    0.025   0.08202   7.547   7.586716   0.157    6.362  2.069407
1        2    0.050   0.16404  17.434  17.490721   0.101    9.086  0.577449
2        3    0.075   0.24606  31.657  31.723448   0.224   10.644  0.706102
3        4    0.100   0.32808  62.425  62.533199   0.229   17.332  0.366205
4        5    0.125   0.41010  89.825  89.904101   0.224   12.671  0.249154
..     ...      ...       ...     ...        ...     ...      ...       ...
448    449   11.225  36.82698   6.681   7.498365   0.066  130.931  0.880192
449    450   11.250  36.90900   6.690   7.528859   0.065  134.374  0.863345
450    451   11.275  36.99102   6.892   7.704315   0.066  130.122  0.856663
451    452   11.300  37.07304   6.831   7.682888   0.066  136.461  0.859052
452    453   11.325  37.15506   6.902   7.762309   0.069  137.810  0.888911

[453 rows x 8 columns]
     Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf    u_ft     Rf_pct
0        1    0.025   0.08202   16.945   16.984186   0.195   6.277   1.148127
1        2    0.050   0.16404   31.550   31.590447   0.260   6.479   0.823034
2        3    0.075   0.24606   42.545   42.586258   0.361   6.609   0.847691
3        4    0.100   0.32808   53.462   53.502122   0.506   6.427   0.945757
4        5    0.125   0.41010   63.482   63.521348   0.614   6.303   0.966604
..     ...      ...       ...      ...         ...     ...     ...        ...
112    113    2.825   9.26826   36.733   36.765468  11.186   5.201  30.425289
113    114    2.850   9.35028   44.096   44.135629   0.000   6.348   0.000000
114    115    2.875   9.43230  475.418  475.497713   0.000  12.769   0.000000
115    116    2.900   9.51432  473.992  474.032690   0.000   6.518   0.000000
116    117    2.925   9.59634  419.994  420.047388   0.000   8.552   0.000000

[117 rows x 8 columns]
     Layer  Depth_m  Depth_ft  qc_tsf     qt_tsf  fs_tsf     u_ft    Rf_pct
0        1    0.025   0.08202   0.887   0.888180   0.053    0.189  5.967260
1        2    0.050   0.16404  10.517  10.558951   0.087    6.720  0.823945
2        3    0.075   0.24606  16.289  16.343237   0.115    8.688  0.703655
3        4    0.100   0.32808  20.012  20.064651   0.192    8.434  0.956907
4        5    0.125   0.41010  25.835  25.868648   0.221    5.390  0.854316
..     ...      ...       ...     ...        ...     ...      ...       ...
448    449   11.225  36.82698   9.567  10.368078   0.163  128.322  1.572133
449    450   11.250  36.90900   9.977  10.702079   0.170  116.148  1.588476
450    451   11.275  36.99102   9.714  10.505433   0.178  126.777  1.694361
451    452   11.300  37.07304   9.345  10.037068   0.184  110.860  1.833205
452    453   11.325  37.15506   8.977   9.662351   0.169  109.784  1.749057

[453 rows x 8 columns]
    Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf    u_ft    Rf_pct
0       1    0.025   0.08202    2.682    2.681188   0.065  -0.130  2.424298
1       2    0.050   0.16404    8.262    8.262000   0.197   0.000  2.384411
2       3    0.075   0.24606   17.681   17.685151   0.665   0.665  3.760217
3       4    0.100   0.32808   28.953   28.962764   0.908   1.564  3.135060
4       5    0.125   0.41010   49.657   49.673031   0.821   2.568  1.652808
5       6    0.150   0.49212  112.649  112.674920   0.636   4.152  0.564456
6       7    0.175   0.57414  105.894  105.928223   0.391   5.482  0.369118
7       8    0.200   0.65616  103.498  103.495927   0.588  -0.332  0.568138
8       9    0.225   0.73818  101.102  101.232698   0.960  20.936  0.948310
9      10    0.250   0.82020  139.275  139.298154   0.585   3.709  0.419962
10     11    0.275   0.90222  177.701  177.726433   0.764   4.074  0.429874
11     12    0.300   0.98424  211.769  211.783564   1.146   2.333  0.541118
12     13    0.325   1.06626  255.159  255.187404   1.373   4.550  0.538036
13     14    0.350   1.14828  272.574  272.600163   2.658   4.191  0.975054
14     15    0.375   1.23030  256.829  256.876688   6.364   7.639  2.477453
15     16    0.400   1.31232  281.973  282.022761   6.299   7.971  2.233508
16     17    0.425   1.39434  301.861  301.901203   4.174   6.440  1.382572
17     18    0.450   1.47636  272.435  272.465926   2.680   4.954  0.983609
18     19    0.475   1.55838  383.827  383.848281   1.938   3.409  0.504887
19     20    0.500   1.64040  267.512  267.618769   7.220  17.103  2.697868
20     21    0.525   1.72242  235.367  235.407241   7.873   6.446  3.344417
21     22    0.550   1.80444  267.015  267.024926   7.351   1.590  2.752927
22     23    0.575   1.88646  279.535  279.561207   0.000   4.198  0.000000
23     24    0.600   1.96848  385.543  385.569694   0.000   4.276  0.000000
24     25    0.625   2.05050  308.510  308.529858   0.000   3.181  0.000000
25     26    0.650   2.13252  305.300  305.319371   0.000   3.103  0.000000
    Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf   u_ft     Rf_pct
0       1    0.025   0.08202    1.470    1.469432   0.053 -0.091   3.606836
1       2    0.050   0.16404    8.242    8.242000   0.105  0.000   1.273963
2       3    0.075   0.24606   13.414   13.427384   0.156  2.144   1.161805
3       4    0.100   0.32808   22.784   22.813253   0.395  4.686   1.731450
4       5    0.125   0.41010   25.919   25.966282   0.521  7.574   2.006448
5       6    0.150   0.49212   37.044   37.061661   0.461  2.829   1.243873
6       7    0.175   0.57414   54.810   54.846701   0.401  5.879   0.731129
7       8    0.200   0.65616  108.147  108.163075   0.598  2.575   0.552869
8       9    0.225   0.73818  107.116  107.116774   0.521  0.124   0.486385
9      10    0.250   0.82020  108.240  108.259939   0.727  3.194   0.671532
10     11    0.275   0.90222  109.363  109.398808   0.736  5.736   0.672768
11     12    0.300   0.98424  109.559  109.605995   0.881  7.528   0.803788
12     13    0.325   1.06626  119.820  119.874767   0.929  8.773   0.774975
13     14    0.350   1.14828  128.178  128.208071   1.186  4.817   0.925059
14     15    0.375   1.23030  116.685  116.698266   0.805  2.125   0.689813
15     16    0.400   1.31232  112.534  112.578760   0.878  7.170   0.779898
16     17    0.425   1.39434   96.950   96.960906   0.879  1.747   0.906551
17     18    0.450   1.47636   84.246   84.297796   0.993  8.297   1.177967
18     19    0.475   1.55838   70.276   70.299154   0.929  3.709   1.321495
19     20    0.500   1.64040   65.544   65.558814   0.977  2.373   1.490265
20     21    0.525   1.72242   49.316   49.344404   0.966  4.550   1.957669
21     22    0.550   1.80444   25.772   25.773305   0.614  0.209   2.382310
22     23    0.575   1.88646   19.318   19.320154   0.573  0.345   2.965815
23     24    0.600   1.96848   14.193   14.197189   0.629  0.671   4.430455
24     25    0.625   2.05050   10.205   10.205974   0.174  0.156   1.704884
25     26    0.650   2.13252    9.635    9.643421   0.159  1.349   1.648792
26     27    0.675   2.21454    8.797    8.804123   0.136  1.141   1.544731
27     28    0.700   2.29656    7.300    7.305737   0.573  0.919   7.843151
28     29    0.725   2.37858    6.594    6.600386   0.684  1.023  10.363030
29     30    0.750   2.46060    7.074    7.078601   0.120  0.737   1.695250
30     31    0.775   2.54262   26.795   26.792927   0.103 -0.332   0.384430
31     32    0.800   2.62464    9.646    9.639451   0.093 -1.049   0.964785
32     33    0.825   2.70666    7.325    7.321336   0.197 -0.587   2.690766
33     34    0.850   2.78868   18.785   18.785081   0.157  0.013   0.835770
34     35    0.875   2.87070   15.286   15.285026   0.217 -0.156   1.419690
35     36    0.900   2.95272    9.035    9.029138   0.276 -0.939   3.056770
36     37    0.925   3.03474    7.740    7.734588   0.328 -0.867   4.240692
37     38    0.950   3.11676    8.762    8.762612   0.295  0.098   3.366576
38     39    0.975   3.19878   47.511   47.521213   0.000  1.636   0.000000
39     40    1.000   3.28080   70.038   70.042963   0.000  0.795   0.000000
40     41    1.025   3.36282  100.050  100.061393   0.000  1.825   0.000000
41     42    1.050   3.44484   93.250   93.251423   0.000  0.228   0.000000
    Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf   u_ft    Rf_pct
0       1    0.025   0.08202   13.162   13.162893   0.159  0.143  1.207941
1       2    0.050   0.16404   41.110   41.115450   0.758  0.873  1.843589
2       3    0.075   0.24606   50.933   50.947240   1.032  2.281  2.025625
3       4    0.100   0.32808   55.949   55.970157   1.271  3.389  2.270853
4       5    0.125   0.41010   66.339   66.368135   1.897  4.667  2.858299
5       6    0.150   0.49212   93.819   93.853141   1.899  5.469  2.023374
6       7    0.175   0.57414  190.315  190.359311   1.979  7.098  1.039613
7       8    0.200   0.65616  216.572  216.619932   1.834  7.678  0.846644
8       9    0.225   0.73818  145.748  145.793122   1.781  7.228  1.221594
9      10    0.250   0.82020  126.497  126.541192   2.461  7.079  1.944821
10     11    0.275   0.90222   65.000   65.049642   3.669  7.952  5.640308
11     12    0.300   0.98424   79.847   79.893958   2.083  7.522  2.607206
12     13    0.325   1.06626   93.752   93.795093   1.829  6.903  1.949995
13     14    0.350   1.14828  121.520  121.565328   0.892  7.261  0.733762
14     15    0.375   1.23030   90.589   90.634166   0.822  7.235  0.906943
15     16    0.400   1.31232   88.046   88.091204   0.752  7.241  0.853661
16     17    0.425   1.39434   88.805   88.844672   0.779  6.355  0.876811
17     18    0.450   1.47636   93.406   93.441727   1.092  5.723  1.168643
18     19    0.475   1.55838   97.772   97.805286   1.087  5.332  1.111392
19     20    0.500   1.64040   99.629   99.669977   1.376  6.564  1.380556
20     21    0.525   1.72242   94.944   94.983023   1.373  6.251  1.445521
21     22    0.550   1.80444   87.795   87.842850   1.291  7.665  1.469670
22     23    0.575   1.88646   85.580   85.623374   1.265  6.948  1.477400
23     24    0.600   1.96848   89.774   89.815177   1.233  6.596  1.372819
24     25    0.625   2.05050   70.627   70.672859   1.030  7.346  1.457419
25     26    0.650   2.13252   68.946   68.988600   0.892  6.824  1.292967
26     27    0.675   2.21454   67.993   68.032960   0.747  6.401  1.097997
27     28    0.700   2.29656   73.284   73.322330   0.830  6.140  1.131988
28     29    0.725   2.37858   82.829   82.863747   0.976  5.566  1.177837
29     30    0.750   2.46060  116.301  116.319635   1.232  2.985  1.059151
30     31    0.775   2.54262  132.125  132.144165   1.614  3.070  1.221393
31     32    0.800   2.62464  153.287  153.307470   1.731  3.279  1.129103
32     33    0.825   2.70666  165.495  165.516812   1.585  3.494  0.957607
33     34    0.850   2.78868  194.289  194.311580   0.000  3.617  0.000000
34     35    0.875   2.87070  234.192  234.222883   0.000  4.947  0.000000
35     36    0.900   2.95272  252.265  252.299260   0.000  5.488  0.000000
36     37    0.925   3.03474  292.813  292.851980   0.000  6.244  0.000000

In [103]:
# Define a singe table structure in raw SQL
import sqlite3
from sqlalchemy import create_engine, text # Import text
import pandas as pd

# Connect to the SQLite database
# Use the same database file path
engine = create_engine('sqlite:///Lab 4 Site Investigation.db') # Using the same engine as before
conn = engine.connect()

Create_table_query = """CREATE TABLE IF NOT EXISTS CPT_readings (
    Layer TEXT,
    Depth_m REAL,
    Depth_ft REAL,
    qc_tsf REAL,
    qt_tsf REAL,
    fs_tsf REAL,
    u_ft REAL,
    Rf_pct)"""

# Read data from SQL tables into DataFrames
cpt_cook_01 = pd.read_sql_query("SELECT * FROM cpt_cook_01", engine)
spt_cook_02 = pd.read_sql_query("SELECT * FROM spt_cook_02", engine)
cpt_cook_03 = pd.read_sql_query("SELECT * FROM cpt_cook_03", engine)
cpt_cook_04 = pd.read_sql_query("SELECT * FROM cpt_cook_04", engine)
cpt_cook_06 = pd.read_sql_query("SELECT * FROM cpt_cook_06", engine)
spt_cook_07 = pd.read_sql_query("SELECT * FROM spt_cook_07", engine)
spt_cook_02_off01 = pd.read_sql_query("SELECT * FROM spt_cook_02_off01", engine)
spt_cook_02_off02 = pd.read_sql_query("SELECT * FROM spt_cook_02_off02", engine)
cpt_cook_06_off01 = pd.read_sql_query("SELECT * FROM cpt_cook_06_off01", engine)

# Combine CPT excel files for CPT_readings Table
combined_data = pd.concat([
    cpt_cook_01,
    spt_cook_02,
    cpt_cook_03,
    cpt_cook_04,
    cpt_cook_06,
    spt_cook_07,
    spt_cook_02_off01,
    spt_cook_02_off02,
    cpt_cook_06_off01
])
print(combined_data)

# Execute the query using the connection object
with engine.begin() as connection:
    connection.execute(text(Create_table_query)) # Wrap the query with text()

print("Table created successfully.")

    Layer  Depth_m  Depth_ft   qc_tsf      qt_tsf  fs_tsf   u_ft      Rf_pct
0       1    0.025   0.08202    0.036    0.036730   0.038  0.117  103.456543
1       2    0.050   0.16404   21.657   21.678931   0.080  3.513    0.369022
2       3    0.075   0.24606   41.663   41.696486   0.097  5.364    0.232634
3       4    0.100   0.32808   64.817   64.861517   0.201  7.131    0.309891
4       5    0.125   0.41010   82.667   82.724046   0.490  9.138    0.592331
..    ...      ...       ...      ...         ...     ...    ...         ...
32     33    0.825   2.70666  165.495  165.516812   1.585  3.494    0.957607
33     34    0.850   2.78868  194.289  194.311580   0.000  3.617    0.000000
34     35    0.875   2.87070  234.192  234.222883   0.000  4.947    0.000000
35     36    0.900   2.95272  252.265  252.299260   0.000  5.488    0.000000
36     37    0.925   3.03474  292.813  292.851980   0.000  6.244    0.000000

[2724 rows x 8 columns]
Table created successfully.

In [95]:
# Data Cleaning and Validation
import sqlite3

# Connect to the SQLite database
# Use the same database file path
engine = create_engine('sqlite:///Lab 4 Site Investigation.db') # Using the same engine as before
conn = engine.connect()

# Remove rows with null values in the 'Rf_pct' and fs_tsf column (assuming 'friction ration' maps to 'Rf_pct')
cursor.execute('DELETE FROM CPT_readings WHERE Rf_pct IS NULL OR fs_tsf IS NULL')

# Retrieving average tip resistance (qt) for CPT_readings
query_avg = """
    SELECT AVG(qt_tsf) AS avg_qt
    FROM CPT_readings
"""
avg_qt = pd.read_sql(query_avg, con=engine)
print("Average qt (tsf):", avg_qt['avg_qt'][0])

# Finding rows with negative friction ratio
query_neg_rf = """
    SELECT *
    FROM CPT_readings
    WHERE rf_pct < 0
"""
negatives = pd.read_sql(query_neg_rf, con=engine)
print("Negative friction ratio rows:\n", negatives)

# Remove duplicate rows based on a specific column - Changed 'friction ration' to 'Rf_pct'
cursor.execute('''
    DELETE FROM CPT_readings
    WHERE rowid NOT IN (
        SELECT MIN(rowid)
        FROM CPT_readings
        GROUP BY Rf_pct
    )
''')

# Fetch cleaned data into DataFrames for printing and further processing
cleaned_dataframe = pd.read_sql('SELECT * FROM CPT_readings', con=engine)

print("Duplicate rows removed successfully.")
print("Data cleaning and validation completed.")

# Commit the changes
conn.commit()

# Print Cleaned Dataframes
print(cleaned_dataframe)

Average qt (tsf): None
Negative friction ratio rows:
 Empty DataFrame
Columns: [Layer, Depth_m, Depth_ft, qc_tsf, qt_tsf, fs_tsf, u_ft, Rf_pct]
Index: []
Duplicate rows removed successfully.
Data cleaning and validation completed.
Empty DataFrame
Columns: [Layer, Depth_m, Depth_ft, qc_tsf, qt_tsf, fs_tsf, u_ft, Rf_pct]
Index: []

In [100]:
# Statistical Summary
# Run summary statisitcs for CPT_readings
import pandas as pd
import sqlite3

# Assuming 'cleaned_dataframe' contains all the data from 'CPT_readings' table
summary_statistics = cleaned_dataframe.describe()  # Calculate statistics for the entire DataFrame

## Define key columns for statistical analysis. Depth.1 is in ft.
key_columns = ["Depth_ft", "qc_tsf", "qt_tsf", "fs_tsf", "u_ft", "Rf_pct"]  # Use actual column names

print(summary_statistics)

       Layer Depth_m Depth_ft qc_tsf qt_tsf fs_tsf u_ft Rf_pct
count      0       0        0      0      0      0    0      0
unique     0       0        0      0      0      0    0      0
top      NaN     NaN      NaN    NaN    NaN    NaN  NaN    NaN
freq     NaN     NaN      NaN    NaN    NaN    NaN  NaN    NaN